@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&family=Manrope:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {

    font-family: Manrope;
    font-weight: 800;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    
    
}


.cartao {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 15px;
    background-color: var(--cor-do-cartao);
    margin: 50px;
    padding: 15px;
    max-width: 450px;
}

.cartao .conselho {
    color: var(--cor-do-texto);
    margin-bottom: 30px;
    font-size: 25px;
}

.cartao .conselho-id {
    text-align: center;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: var(--cor-botao-cartao-e-texto);
    margin: 25px;
    padding-top: 25px;
}


.divisor  {
    margin-bottom: 15px;
}

.botao {
    padding: 18px;
    background-color:  var(--cor-botao-cartao-e-texto);
    border-radius: 50%;
    transform: translateY(80%);
}

img {
    max-width: 100%;
}